<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AstroPage</title>
    </head>
    <body>
        {% comment %} you can also take tags in span tag <h1><span>{{wish}}</span><h1> {% endcomment %}
        <h1>Hello Friend ,{{wish}}</h1>
        <h2>Time : {{time}}</h2>
        <h2>Austrology Info : {{msg}}</h2>
        <h2>Very Soon,You are going to get marriage with : {{name}}</h2>
        <h2></h2>
    </body>
</html>
