<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Courses</title>>
    </head>
    <body>
  <h1>Hello Friend,the Current Date and Time : {{time}}</h1><hr>
  <h2>Course Name:{{name}}</h2>
  <h2>Prerequirred:{{prerequirred}}</h2>
  <ul>
    <li>It takes courage to grow up and become who you really are</li>
    <li>Your self-worth is determined by you </li>
    <li>Keep your face always toward the sunshine, and shadows will fall behind you </li>
  </ul>  
  <table border="2">
    <thead>
    <th>S.No</th>
    <th>Name</th>
    <th>Feedback</th>
    </thead>
    <tr>
        <td>1.</td>
        <td>Jhuni</td>
        <td>Excellent Doing</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>Jhuni</td>
        <td>Excellent Doing</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>Jhuni</td>
        <td>Excellent Doing</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>Jhuni</td>
        <td>Excellent Doing</td>
    </tr>
    <tr>
        <td>1.</td>
        <td>Jhuni</td>
        <td>Excellent Doing</td>
    </tr>
  </table>


    </body>
</html>